<section class="section" id="about">
  <h2>about me</h2>
  <div class="section-content">
    <div class="about">
      <figure>
        <div id="image">
          <img src="/jpg/IMG_8964.JPG" alt="A photo of Christian Francis" />
        </div>
        <figcaption id="image-caption">
          Lensa AI generated selfie ⚡️
        </figcaption>
      </figure>
      <div>
        <p>
          A self-taught frontend web developer building websites and web
          applications that provide seamless and intuitive user experiences.
          Check out some of my work in the
          <span>
            <a class="about__projects-section-link" href="#projects"> PROJECTS SECTION</a>.
          </span>
        </p>
        <br />
        <p>
          After years of working in NYC pizzerias, I decided I'd tap back into
          what I was briefly exposed to during my tenure at 16Hertz, a
          tech-startup that worked on STEM education focused on hands-on,
          cutting-edge technologies.
        </p>
        <br />
        <p>
          I'm open to job opportunities where I can contribute, learn and grow.
          If you have a good opportunity that matches my skills and experience
          then don't hesitate to contact me!
        </p>
      </div>
    </div>
    <div class="about-skills">
      <h3 class="about-skills__title">My Skills</h3>
      <div class="skills">
        <div class="skills__skill">HTML</div>
        <div class="skills__skill">CSS</div>
        <div class="skills__skill">JavaScript</div>
        <div class="skills__skill">TypeScript</div>
        <div class="skills__skill">React</div>
        <div class="skills__skill">SASS</div>
        <div class="skills__skill">GIT</div>
        <div class="skills__skill">Github</div>
        <div class="skills__skill">Responsive Design</div>
        <div class="skills__skill">SEO</div>
        <div class="skills__skill">Terminal</div>
        <div class="skills__skill">NodeJS</div>
        <div class="skills__skill">Express Basics</div>
        <div class="skills__skill">SQL Basics</div>
        <div class="skills__skill">NoSQL Basics</div>
        <div class="skills__skill">Adobe Suite Apps</div>
        <div class="skills__skill">Figma</div>
      </div>
    </div>
  </div>
</section>
