<section class="section" id="contact">
  <h2>contact</h2>
  <div class="section-content contact">
    <p class="contact-link"><i class="fa-solid fa-envelope"></i> : <a href="mailto:cfrancis1989@gmail.com">cfrancis1989@gmail.com</a></p>
    <p class="contact-link"><i class="fa-brands fa-github"></i> : <a href="https://github.com/strongcurrentscf">GitHub</a></p>
    <p class="contact-link"><i class="fa-brands fa-linkedin"></i> : <a href="https://www.linkedin.com/in/christian-francis-81371314b/">LinkedIn</a></p>
    <p class="contact-link"><i class="fa-brands fa-x-twitter"></i> : <a href="https://twitter.com/dogsisirhc">X</a></p>
  </div>
</section>