<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/171042eab0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/landing-page.css" />
  <link rel="stylesheet" href="/styles/section-page.css" />
  <link rel="stylesheet" href="/styles/about-section-page.css" />
  <link rel="stylesheet" href="/styles/projects-section-page.css" />
  <title>
    <%= title %>
  </title>