<section class="section" id="projects">
  <h2>projects</h2>
  <div class="section-content">
    <div class="projects">
      <div class="project">
        <figure>
          <div class="project__image image">
            <a href="https://looking-for-job-app-7f57c8dc5296.herokuapp.com/" target="_blank" rel="noopener noreferrer">
              <img src="/jpg/lookingforjob-screenshot.png" alt="A screenshot of the looking-for-a-job app." />
            </a>
          </div>
          <figcaption class="image-caption">
            Looking-For-A-Job 💪
          </figcaption>
        </figure>
        <div class="project__content">
          <h3 class="project__content-title">Looking-For-A-Job</h3>
          <p class="project__content-description">
            A candidate intake app that collects contact information and a resume file for administrators to login and review. It uses robust form validation on the frontend using express-sessions, bcrypt, and csrf protections. On the backend it is using NodeJS with Express, MongoDB, and Cloudinary for preserving user files. The app is hosted on Heroku servers.
          </p>
          <a href="/project-lookingforjob" class="project__btn">learn more</a>
        </div>
      </div>
      <div class="project">
        <figure>
          <div class="project__image image">
            <a href="https://forkify-christian.netlify.app/" target="_blank" rel="noopener noreferrer">
              <img src="/jpg/forkify-screenshot.png" alt="A screenshot of the forkify app." />
            </a>
          </div>
          <figcaption class="image-caption">
            Forkify 🍽️
          </figcaption>
        </figure>
        <div class="project__content">
          <h3 class="project__content-title">Forkify</h3>
          <p class="project__content-description">
            Forkify is a vanilla JavaScript application that interacts with the
            food2fork API to fetch and display recipe food data. This app uses
            modern JavaScript tools, such as Webpack to bundle the modules, and
            Babel to convert ES6, ES7 and ES8 back to ES5.
          </p>
          <a href="/project-forkify" class="project__btn">learn more</a>
        </div>
      </div>
      <div class="project">
        <figure>
          <div class="project__image image">
            <a href="https://rudumb.netlify.app/" target="_blank" rel="noopener noreferrer">
              <img src="/jpg/rudumb-screenshot.png" alt="A screenshot of the rudumb meme app." />
            </a>
          </div>
          <figcaption class="image-caption">
            r U dUmB? 🤔
          </figcaption>
        </figure>
        <div class="project__content">
          <h3 class="project__content-title">r U dUmB?</h3>
          <p class="project__content-description">
            r U dUmB? is a meme recreated in HTML, CSS, and JS. Initially just a demonstration, this real-world
            recreation is interactive! For when you're bored, with nothing to do, and want to give yourself a little
            chuckle... or just waste time!
          </p>
          <a href="/project-rudumb" class="project__btn">learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>