#neon-name {
  display: grid;
  place-items: center;
  height: 100%;
}

#neon-name-text {
  font-size: 3.5rem;
  font-weight: 500;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  animation: flicker 1.5s infinite alternate;
}

#project-neon-name-text {
  font-size: 3.5rem;
  font-weight: 500;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  animation: flicker 1.5s infinite alternate;
}

#neon-about-text {
  font-size: 1rem;
  color: white;
  max-width: 40rem;
  margin: 3rem 1.5rem 0 1.5rem;
  text-align: center;
  text-shadow: 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 15px #03e9f4;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  35%,
  37%,
  54%,
  56%,
  74%,
  76%,
  100% {
    text-shadow: 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 15px #03e9f4,
      0 0 25px #03e9f4, 0 0 35px #03e9f4, 0 0 50px #03e9f4, 0 0 60px #03e9f4,
      0 0 75px #03e9f4, 0 0 95px #03e9f4, 0 0 100px #03e9f4;
  }

  20%,
  24%,
  36%,
  55%,
  75% {
    text-shadow: none;
  }
}

#arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  cursor: pointer;
  overflow: visible;
}

#arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 3.5px;

  filter: drop-shadow(0 0 5px #03e9f4) drop-shadow(0 0 15px #03e9f4)
    drop-shadow(0 0 20px #03e9f4);
  -webkit-filter: drop-shadow(0 0 5px #03e9f4) drop-shadow(0 0 15px #03e9f4)
    drop-shadow(0 0 20px #03e9f4);

  animation: arrow 6s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#arrows path#a1 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

#arrows path#a2 {
  animation-delay: -0.35s;
  -webkit-animation-delay: -0.35s;
  /* Safari 和 Chrome */
}

#arrows path#a3 {
  animation-delay: -0.2s;
  -webkit-animation-delay: -0.2s;
  /* Safari 和 Chrome */
}

