.section {
  margin: 0 auto;
  width: 90%;
  max-width: 60rem;
  /* color: #03e9f4; */
  color: var(--text-color);

  text-align: center;
  padding: 6rem 3rem;
  border-top: 1px solid var(--text-color);
}

.section h2 {
  /* color: white; */
  color: var(--text-color);

  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  /* text-shadow: 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 15px #03e9f4; */
}

.section h2::after {
  content: "";
  position: absolute;
  height: 5px; 
  width: 4rem;
  margin-top: 0.5rem;
  /* background: white; */
  background: var(--text-color);

  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  display: block;
  /* filter: drop-shadow(0 0 5px #03e9f4) drop-shadow(0 0 10px #03e9f4); */
}

.section-content {
  margin: 8rem 4rem;
  align-items: center;
}

.image {
  width: 100%;
  /* max-width: 40rem; */
  /* max-height: 40rem; */
  margin: 0 auto;
  object-fit: cover;
}

.image-caption {
  /* font-size: 0.75rem; */
  margin-top: 0.5rem;
}

.contact-link {
  margin-bottom: 1.5rem;
}

.contact-link:hover {
  transform: scale(1.05);
  transition: all 0.35s ease-out;
}

@media only screen and (max-width: 980px) {
  .section-content {
    margin: 4rem 0 0 0;
  }
}
